[Desktop Entry]
Name=parkitectnexus
Exec=parkitectnexus %u
Comment=A mod installer for Parkitect
GenericName=Parkitect Nexus
Icon=parkitectnexus.png
Categories=Utility;
StartupNotify=true
Terminal=false
Type=Application
MimeType=x-scheme-handler/parkitectnexus;