[Desktop Entry] 
Comment[en_US]= 
Comment= 
Exec=mono /opt/ParkitectNexus/ParkitectNexus.Client.Linux.exe --url %u 
GenericName[en_US]= 
GenericName= 
Icon=/opt/ParkitectNexus/parkitectnexus_logo.png 
Name=Parkitect Nexus 
Path=/opt/ParkitectNexus/ParkitectNexus.Client.Linux.exe
StartupNotify=true 
Terminal=false 
TerminalOptions= 
Type=Application 
MimeType=x-scheme-handler/parkitectnexus;